.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    margin: 15px;
    width: 18rem;
    background-color: rgb(3, 3, 41);
    margin: 10px
}

.cardContainer img{
    width: 250px;
}

.buttonContainer{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}