.asideContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: aliceblue;
    width: fit-content;
    height: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(118,26,199,1) 58%);
    width: 350px;
}
.backgroundDisabled{
    background-color:rgba(0, 0, 0, 0.5) !important ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2 !important
}