.containerPrincipal{
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 2px 2px 10px;
    padding: 10px;
}
.containerTitle h1{
    font-size: 30px;
}
.containerBody{
    margin-left: 2vw ;
}
.containerSubTitle{
    display: flex;
    cursor: pointer;
}
.containerSubTitle h2{    
    font-size: 20px;
}
.containerSubcategoryTrue{
    max-height: 200px; 
    opacity: 1;
}
.containerSubcategoryTrue :hover{
    transition: max-height 0.3s ease, opacity 0.3s ease;;
}
.containerSubcategoryFalse{
    overflow:hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}
.arrowIcon {
    font-size: 24px;
    transition: transform 0.3s ease;
    margin-left: 8px;
}
.rotated {
    transform: rotate(90deg); 
}

