.containerPrincipalOn{
    height: 60vh;
    width: 25vw;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 5px 5px 25px;
    position: absolute;
    right: 470px;
    bottom: 200px;
    padding: 20px;
    color: #000;
}
.containerTitle{
    text-align: center;
    padding: 5px;
}
.containerData{
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.containerButton{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}